{
  "all": true,
  "reporter": ["text-summary", "html"],
  "include": ["lib/**/*.js"],
  "exclude": ["test/**", "node_modules/**","lib/tools.js"],
  "check-coverage": false,
  "lines": 80,
  "branches": 60,
  "functions": 80,
  "statements": 80,
  "sourceMap": false,
  "instrument": true
}