<!--
    ioBroker.vis openligadb Widget-Set

    version: "0.1"

    Copyright 2020 oweitman oweitman@gmx.de
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/openligadb/css/style.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/openligadb/js/openligadb.js"></script>
 
<script id="tplOLiDBTable2"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/openligadb/img/table.png"></img>'
        data-vis-attrs="allmatches_oid/id;mode[1total]/nselect,1total,2home,3away;maxicon[25],number;shortname/checkbox;highlight;"
        data-vis-set="openligadb"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="false"
        data-vis-name="OLiDB Table v2">        
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.openligadb.table2.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
<script id="tplOLiDBGameDay"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/openligadb/img/gameday.png"></img>'
        data-vis-attrs="allmatches_oid/id;currgameday_oid/id;showgameday;showgamedaycount;maxicon[25],number;shortname/checkbox;showgoals/checkbox;showweekday/checkbox;highlight;"
        data-vis-set="openligadb"   
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="false"
        data-vis-name="OLiDB GameDay">        
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.openligadb.gameday.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
<script id="tplOLiDBFavGames2"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/openligadb/img/favgames.png"></img>'
        data-vis-attrs="lCount[1]/number;maxicon[25],number;showresult/checkbox;showabbreviation/checkbox;showweekday/checkbox;"
        data-vis-attrs0="group.leagues/byindex;allmatches_oid(1-lCount)/id;currgameday_oid(1-lCount)/id;showgameday(1-lCount);showgamedaycount(1-lCount);shortname(1-lCount)/checkbox;abbreviation(1-lCount);highlight(1-lCount);"
        data-vis-set="openligadb"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="false"
        data-vis-name="OLiDB Games of Favorite Clubs v2">        
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.openligadb.favgames2.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
<script id="tplOLiDBFavGames"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/openligadb/img/favgames.png"></img>'
        data-vis-attrs="allmatches_oid/id;currgameday_oid/id;showgameday;showgamedaycount;maxicon[25],number;shortname/checkbox;highlight;"
        data-vis-set="openligadb"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="false"
        data-vis-name="Deprecated: OLiDB Games of Favorite Clubs Nicht mehr verwenden">        
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.openligadb.favgames.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
<script id="tplOLiDBTable"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/openligadb/img/table.png"></img>'
        data-vis-attrs="oid;maxicon[25],number;shortname/checkbox;highlight;"
        data-vis-set="openligadb"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="false"
        data-vis-name="Deprecated: OLiDB Table Nicht mehr verwenden">        
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.openligadb.table.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>

          